/*upar kae 2 image*/
* {
  box-sizing: border-box;
}
.column11 {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.roww::after {
  content: "";
  clear: both;
  display: table;
}
/**************************************************************************************************************************************************************************************************************************************************************************************
/*signup form+social media"/

/* style the kontainerr */
.kontainerr {
  position: relative;
  border-radius: 5px;
  background-color: #fcf9f9;
  padding: 20px 0 30px 0;
} 

/* style inputs and link buttons */
input,
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

input:hover,
.btn:hover {
  opacity: 1;
}

/* add appropriate collors to fb, twitter and google buttons */
.fb {
  background-color: #3B5998;
  color: white;
}

.twitter {
  background-color: #55ACEE;
  color: white;
}

.google {
  background-color: #39dd78;
  color: white;
}
.insta {
  background-color: #d539dd;
  color: white;
}


/* style the submit button */
input[type=submit] {
  background-color: #ff005d;
  color: white;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #598cea;
}

/* Two-collumn layout */
.coll1{
  float: left;
  width: 50%;

  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}
.coll{
  float: left;
  width: 50%;
  height: auto;
  margin: auto;
  padding: 0 50px;
  margin-top: 36px;
}

/* Clear floats after the collumns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* vertical line */
.vl {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #ddd;
  height: 345px;
}

/* text inside the vertical line */
.vl-innertext {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 10px;
}

/* hide some text on medium and large screens */
.hide-md-lg {
  display: none;
}



/* Responsive layout - when the screen is less than 650px wide, make the two collumns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .coll {
    width: 100%;
    margin-top: 0;
  }
  /* hide the vertical line */
  .vl {
    display: none;
  }
  /* show the hidden text on small screens */
  .hide-md-lg {
    display: block;
    text-align: center;
  }
}

/*********************************/

.wrapper .outer{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .wrapper .card{
      background: #fff;
      width: 300px;
      display: flex;
      align-items: center;
      padding: 20px;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      justify-content: space-between;
      border-radius: 100px 20px 20px 100px;
      box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
      animation: animate 15s linear infinite;
      animation-delay: calc(3s * var(--delay));
    }
    .outer:hover .card{
      animation-play-state: paused;
    }
    .wrapper .card:last-child{
      animation-delay: calc(-3s * var(--delay));
    }
    @keyframes animate {
      0%{
        opacity: 0;
        transform: translateY(100%) scale(0.5);
      }
      5%, 20%{
        opacity: 0.4;
        transform: translateY(100%) scale(0.7);
      }
      25%, 40%{
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0%) scale(1);
      }
      45%, 60%{
        opacity: 0.4;
        transform: translateY(-100%) scale(0.7);
      }
      65%, 100%{
        opacity: 0;
        transform: translateY(-100%) scale(0.5);
      }
    }
    .card .content{
      display: flex;
      align-items: center;
    }
    .wrapper .card .img{
      height: 90px;
      width: 90px;
      position: absolute;
      left: -5px;
      background: #fff;
      border-radius: 50%;
      padding: 5px;
      box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    }
    .card .img img{
      height: 100%;
      width: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
    .card .details{
      margin-left: 80px;
    }
    .details span{
      font-weight: 600;
      font-size: 18px;
    }
    .card a{
      text-decoration: none;
      padding: 7px 18px;
      border-radius: 25px;
      color: #fff;
      background: linear-gradient(to bottom, #bea2e7 0%, #86b7e7 100%);
      transition: all 0.3s ease;
    }
    .card a:hover{
      transform: scale(0.94);
    }
    
/*************************************ZIG ZAG LAYOUTT************************************************/
.responsive {
  width: 100%;
  height: auto;
}
    .content-container {
      padding: 75px;
    }
    
    .col-container:after {
      content: "";
      display: table;
      clear: both;
    }
    
    .column-one {
      float: left;
      width: 66.66666%;
      padding: 25px;
    }
    
    .column-two {
      float: left;
      width: 33.33333%;
      padding: 25px;
    }
    
    .l-font {
      font-size: 45px;
      color: #03071e;
    }
    
    .xl-font {
      font-size: 65px;
      color: #03071e;
    }
    
    .button {
      border: 5px solid #03071e;
      background-color: transparent;
      color: white;
      padding: 14px 28px;
      font-size: 16px;
      cursor: pointer;
      color: #03071e;
      font-weight: bold;
      transition: .2s;
    }
    
    .button:hover {
      background-color: #03071e;
      color: white;
    }
    
    img {
      display: block;
      height: auto;
      max-width: 100%;
    }
    
    @media screen and (max-width: 800px) {
      .column-one,
      .column-two {
        width: 100%;
        text-align: center;
      }
      img {
        margin: auto;
      }
    }

    /**perkssssssssssssssssssssssssssssssssssssssssssssssssssssss*/

    .ag-courses_box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    
      padding: 50px 0;
    }
    .ag-courses_item {
      -ms-flex-preferred-size: calc(33.33333% - 30px);
      flex-basis: calc(33.33333% - 30px);
    
      margin: 0 15px 30px;
    
      overflow: hidden;
    
      border-radius: 28px;
    }
    .ag-courses-item_link {
      display: block;
      padding: 30px 20px;
      background-color: #121212;
    
      overflow: hidden;
    
      position: relative;
    }
    .ag-courses-item_link:hover,
    .ag-courses-item_link:hover .ag-courses-item_date {
      text-decoration: none;
      color: #FFF;
    }
    .ag-courses-item_link:hover .ag-courses-item_bg {
      -webkit-transform: scale(10);
      -ms-transform: scale(10);
      transform: scale(10);
    }
    .ag-courses-item_title {
      min-height: 87px;
      margin: 0 0 25px;
    
      overflow: hidden;
    
      font-weight: bold;
      font-size: 30px;
      color: #FFF;
    
      z-index: 2;
      position: relative;
    }
    .ag-courses-item_date-box {
      font-size: 18px;
      color: #FFF;
    
      z-index: 2;
      position: relative;
    }
    .ag-courses-item_date {
      font-weight: bold;
      color: #f9b234;
    
      -webkit-transition: color .5s ease;
      -o-transition: color .5s ease;
      transition: color .5s ease
    }
    .ag-courses-item_bg {
      height: 128px;
      width: 128px;
      background-color: #f9b234;
    
      z-index: 1;
      position: absolute;
      top: -75px;
      right: -75px;
    
      border-radius: 50%;
    
      -webkit-transition: all .5s ease;
      -o-transition: all .5s ease;
      transition: all .5s ease;
    }
    .ag-courses_item:nth-child(2n) .ag-courses-item_bg {
      background-color: #3ecd5e;
    }
    .ag-courses_item:nth-child(3n) .ag-courses-item_bg {
      background-color: #e44002;
    }
    .ag-courses_item:nth-child(4n) .ag-courses-item_bg {
      background-color: #952aff;
    }
    .ag-courses_item:nth-child(5n) .ag-courses-item_bg {
      background-color: #cd3e94;
    }
    .ag-courses_item:nth-child(6n) .ag-courses-item_bg {
      background-color: #4c49ea;
    }
    
    
    
    @media only screen and (max-width: 979px) {
      .ag-courses_item {
        -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
      }
      .ag-courses-item_title {
        font-size: 24px;
      }
    }
    
    @media only screen and (max-width: 767px) {
      .ag-format-container {
        width: 96%;
      }
    
    }
    @media only screen and (max-width: 639px) {
      .ag-courses_item {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
      }
      .ag-courses-item_title {
        min-height: 72px;
        line-height: 1;
    
        font-size: 24px;
      }
      .ag-courses-item_link {
        padding: 22px 40px;
      }
      .ag-courses-item_date-box {
        font-size: 16px;
      }
    }
    /***********************SECTION******88/
    /*NEECHE kae 4 image*/
* {
  box-sizing: border-box;
}
.column111 {
  float: left;
  width: 25%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.roww11::after {
  content: "";
  clear: both;
  display: table;
}